.task {
  margin: 8px 0;
  padding: 4px;
  background: $neutralGrey;
  border-radius: 7px;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .taskContent {
    padding: 10px;
    background: $neutralWhite;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 #D0DAEB, 0 0 2px 0 #EEF4FE;

    .taskHeader {
      margin-bottom: 8px;
      vertical-align: bottom;

      .taskCheckbox {
        margin: 3px 6px 0 0;
        align-self: baseline;
        float: left;
      }

      .taskTitle {
        color: $primaryBlue;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }
    }

    .taskBody {
      .taskDates {
        margin-bottom: 5px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;

        .taskDate {
          color: $statusesGreen;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;

          &:first-child {
            margin-right: 6px;
          }
        }
      }

      .taskDescription {
        margin-bottom: 10px;
        color: $primaryNeutralBlack;
        text-overflow: ellipsis;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .taskFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .taskTags {
        display: flex;

        .taskTag {
          padding: 2px 6px 4px;
          border-radius: 4px;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;

          &:first-child {
            margin-right: 4px;
            color: $neutralWhite;
            background: $statusesPurple;
          }

          &:last-child {
            margin-right: 4px;
            padding-right: 0;
            position: relative;
            color: $primaryDarkGrey;
            background: $neutralGrey20;
            border-bottom-right-radius: initial;
            border-top-right-radius: initial;

            div {
              position: relative;
              z-index: 1;
            }
            img {
              z-index: 0;
              height: 100%;
              max-height: 100%;
              width: auto;
              transform: translateX(100%);
              top: 0;
              right: 1px;
              position: absolute;
              display: inline-block;
            }
          }
        }
      }

      .taskCreator {
        width: 24px;
        height: 24px;

        img {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
