$primaryBlue: #3D8FEC;
$primaryNeutralBlack: #555555;
$primaryGrey: #7B8AAB;
$primaryGreySecondary: #AAB7D4;
$primaryDarkGrey: #616C82;
$neutralWhite: #FFF;
$neutralGrey: #F8FAFB;
$neutralGrey20: #EBEEF6;
$statusesGreen: #50B810;
$statusesPurple: #B233A6;

$neutralGrey: #F4F8FF;
